@import 'antd/dist/antd.css';

html, body {margin: 0; height: 100%; overflow: hidden}

.authorization {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 300px;
}
